@import "../../_globalColor";

.skills-main-div {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.skills-text-div {
  margin-left: 200px; /* Increased spacing between image and text on desktop */
}

.skills-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.skills-image-div {
  max-width: 400px;
  transform: scale(0.7);
  transform-origin: center;
}

.skills-image-div > img {
  max-width: 100%;
  height: auto;
}

.skills-image-div > div {
  max-width: 100%;
  height: auto;
}

.skills-heading {
  font-size: 56px;
  font-weight: 400;
}
.subTitle {
  color: $subTitle;
}
.skills-text-subtitle {
  text-align: left;
}

/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .skills-heading {
    font-size: 30px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .skills-main-div {
    flex-direction: column;
  }
  .skills-text-div {
    margin: 20px 20px 20px 20px; /* no left margin, keeps others */
  }
  .skills-text {
    font-size: 16px;
  }
  .skills-text-subtitle {
    font-size: 16px;
    text-align: left;
  }
  .skills-image-div {
    /* display: none; */
    order: 2;
  }
}
