.experience-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem 1rem;
}

.experience-heading {
  font-size: 56px;
  font-weight: 400;
}

.experience-subtitle {
  margin-top: 50px;
  margin-bottom: 50px;
}

.experience-container {
  display: flex;
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.experience-container > * {
  flex: 1;
}

/* Media Query */

@media (max-width: 1380px) {
  .experience-heading {
    font-size: 40px;
  }
  .experience-subtitle {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .experience-cards-div {
    display: flex;
    flex-direction: column;
    gap: 0rem; /* Reduced spacing between cards on mobile */
  }
  
  .experience-subtitle {
    margin-bottom: -60px; /* Compensate for negative margin on first card */
  }
}
